<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <!-- NAVIGATION SECTION -->
    <nav>
        <!-- LEFT NAV CONTENT -->
        <ul class="nav-content">
            
            <!-- BRAND THAT ACHOR TO HOMEPAGE -->
           <li class="brand">

           </li>

           <!-- CREATION TAB WITH 2 SUB TABS AND 1 MISC -->
           <li id="creation-tab" class="nav-item">
               <!-- TOGGLER FOR SHOW SUB NAV SECTION -->
               <button class="nav-dropdown" id="creation-toggler">
                   Creation
               </button>
               <!-- CREATION: SUB NAV SECTION, DEFAULT=HIDDEN -->
               <div id="creation-nav" class="sub-nav" style="display:hidden;">
                <!-- LEFT SUB NAV SECTION -->
                   <ul class="main-sub-nav">
                        <li>
                            <a href="#" class="sub-nav-link">
                                <h4>Website Design</h4>
                                <p>Discover all the ways you can create and design your website on Wix.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="sub-nav-link">
                                <h4>Website Template</h4>
                                <p>Discover all the ways you can create and design your website on Wix.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="sub-nav-link">
                                <h4>Website Design</h4>
                                <p>Discover all the ways you can create and design your website on Wix.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="sub-nav-link">
                                <h4>Website Design</h4>
                                <p>Discover all the ways you can create and design your website on Wix.</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="sub-nav-link">
                                <h4>Website Design</h4>
                                <p>Discover all the ways you can create and design your website on Wix.</p>
                            </a>
                        </li>
                   </ul>
                <!-- RIGHT SUB NAV SECTION -->
                   <div class="aside-sub-nav">
                        <ul>

                        </ul>
                   </div>
               </div>
           </div>

           <!-- BUSSINESS TAB WITH 2 SUB TABS -->
            <li id="bussiness-tab" class="nav-item">
                <!-- TOGGLER FOR SHOW SUB NAV SECTION -->
                <button class="nav-dropdown" id="bussiness-toggler">
                    Bussiness
                </button>
                <!-- BUSSINESS: SUB NAV SECTION, DEFAULT=HIDDEN -->
                <div id="bussiness-nav" class="sub-nav" style="display:hidden;">
                 <!-- LEFT SUB NAV SECTION -->
                    <ul class="main-sub-nav">

                    </ul>
                 <!-- RIGHT SUB NAV SECTION -->
                    <div class="aside-sub-nav">

                    </div>
                </div>
            </li>

            <!-- GROWTH TAB WITH 1 SUB TABS -->
            <li id="growth-tab" class="nav-item">
                <!-- TOGGLER FOR SHOW SUB NAV SECTION -->
                <button class="nav-dropdown" id="growth-toggler">
                    Growth
                </button>
                <!-- GROWTH: SUB NAV SECTION, DEFAULT=HIDDEN -->
                <div id="growth-nav" class="sub-nav" style="display:hidden;">
                 <!-- LEFT SUB NAV SECTION -->
                    <ul class="main-sub-nav">

                    </ul>
                 <!-- RIGHT SUB NAV SECTION -->
                    <div class="aside-sub-nav">

                    </div>
                </div>
            </li>

            <!-- RESOURCES TAB WITH 1 SUB TABS -->
            <li id="resources-tab" class="nav-item">
                <!-- TOGGLER FOR SHOW SUB NAV SECTION -->
                <button class="nav-dropdown" id="resources-toggler">
                    Resources
                </button>
                <!-- RESOURCES: SUB NAV SECTION, DEFAULT=HIDDEN -->
                <div id="resources-nav" class="sub-nav" style="display:hidden;">
                 <!-- LEFT SUB NAV SECTION -->
                    <ul class="main-sub-nav">

                    </ul>
                 <!-- RIGHT SUB NAV SECTION -->
                    <div class="aside-sub-nav">

                    </div>
                </div>
            </li>

            <!-- BORDER -->
            <li>
                |
            </li>

            <!-- MISC NAVIGATION -->
            <li class="nav-item">
               <a href="#" class="nav-link">Enterprise</a> 
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Pricing</a> 
             </li>
             <li class="nav-item">
                <a href="#" class="nav-link">Support</a> 
             </li>

        </div>
    </nav>
</body>
</html>